.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background: url(../images/background_menu.svg);
  background-position: center;
  background-size: cover;
 }

 .menu__title {
   max-width: 780px;
   font-family: "Inter", Arial, sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 44px;
   line-height: 52px;
   margin: 0;
 }

 .menu__subtitle {
   display: flex;
   text-align: center;
   max-width: 780px;
   margin-top: 24px;
   margin-bottom: 100px;
   margin-left: 0;
   margin-right: 0;
   font-family: "Noto Serif", "Times New Roman", serif;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 30px;
 }

 .menu__cards {
   margin-top: 0px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 100px;
   padding: 0;
 }